<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orelega+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="nav_bar">
        <a href="" class="trademark">STATY</a>
        <nav>
            <ul>
                <li><a href="stats.html" class="Distribution">Distribution</a></li>
                <li><a href="stats.html" class="Statistics">Statistics</a></li>
            </ul>
        </nav>
        </div>
        <div class='linear'>
            <a href="binomial">
                <button class='btn btn1'>Binomial</button>
            </a>
        </div>
        <br>
        <div class='linear'>
            <a href="uniform">
                <button class='btn btn1'>Uniform</button>
            </a>
        </div>
    </body>
</html>