@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/*----------------Nav item----------------*/

.navbaar-brand {
  color: #1ae59b;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-left: 68px;
}
.navbaar-brand:hover {
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-left: 68px;
}

nav {
  background-color: #232730;
}

/*-------------------Main Div---------------------*/

#main-div1 {
  min-height: 90vh;
  background-color: #232730;
}

.stat_button {
  margin-left: 20px;
  margin-top: 10px;
  background-color: #1ae59b;
  border: solid;
  border-color: #1ae59b;
  border-radius: 0;
  padding: 2px 6px 2px 6px;
  color: #232730;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}

.stat_button:hover {
  margin-left: 20px;
  margin-top: 10px;
  background-color: #1ae59b;
  border: solid;
  border-color: #1ae59b;
  color: #232730;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
  background-color: #232730;
}

::-webkit-scrollbar-track {
  background-color: #404655;
  border-radius: 50px;
}
